<% include header %>

<div class="container">

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Our Team</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" alt="" width="250" height="200"
           src="https://scontent-scl1-1.xx.fbcdn.net/v/t1.0-9/13880331_10155024193892977_9083026662986376590_n.jpg?oh=8647b65350f4b8f5e47f290d09f1c96d&oe=5A67637C">
      <h3>Alejandro Sánchez Aristizábal
        <small>Systems Engineer </small>
      </h3>
      <p><a href="mailto:asanch41@eafit.edu.co?Subject=Comment - Gutenberg%20Information%20Retrieval.">asanch41@eafit.edu.co</a>
      <p><a href="https://github.com/ibalejandro">GitHub</a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" alt="" width="200" height="200"
           src="https://scontent-scl1-1.xx.fbcdn.net/v/t31.0-8/13765686_10154453083792491_3964703260511705814_o.jpg?oh=19ccab789a9208550957cf0e20be292f&oe=5A61A320">
      <h3>Alejandro Carmona Ramírez
        <small>Systems Engineer </small>
      </h3>
      <p><a href="mailto:jcarmon4@eafit.edu.co?Subject=Comment - Gutenberg%20Information%20Retrieval.">jcarmon4@eafit.edu.co</a>
      <p><a href="https://github.com/alejocram">GitHub</a></p>
    </div>
  </div>

</div>
<!-- /.container -->


<% include footer %>
