<% include header %>

<h1><%-title %></h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Document</th>
      <th>Similarity</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<articles.length; i++) {%>
    <tr>
      <td><%= articles[i][0] %></td>
      <td><%= articles[i][1] %></td>
    </tr>
    <% } %>
    </tbody>
  </table>
</div>

<% include footer %>
