<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="../../css/style.css">
  <!-- Latest compiled and minified CSS -->
  <style>
    #navBarSearchForm input[type=text]{width:430px !important;}
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Gutenberg information retrieval</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>

        </ul>
        <form action="/search" method="GET" class="navbar-form navbar-right" id="navBarSearchForm">
          <div class="form-group">
            <input name="q" type="text" placeholder="Search" class="form-control">
          </div>
          <button class="btn btn-outline-success btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="../navbar/">Default</a></li>-->
        <!--<li><a href="../navbar-static-top/">Static top</a></li>-->
        <!--<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>-->
        <!--</ul>-->
      </div><!--/.nav-collapse -->
    </div>
  </nav>
