<% include header %>

<div class="container">
  <h1>No results were found for "<%= query %>"</h1>
  <h3>Search tips:</h3>
  <p class="lead">Remember to check your spelling.</p>
  <p class="lead">It contains ebooks in spanish.</p>
  <p class="lead">Remove special characters.</p>
</div>


<% include footer %>
