<% include header %>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Document</th>
        <th>Relevance</th>
      </tr>
      </thead>
      <tbody>
      <% for(var i=0; i<docs.length; i++) {%>
      <% var percent = docs[i][1] * 100 %>
      <tr>
        <td><%= i %></td>
        <td><a class="detail" value="<%= docs[i][0] %>" ><%= docs[i][0] %></a></td>
        <td><%= percent %> % </td>
      </tr>
      <% } %>
      </tbody>
    </table>
  </div>
  <div id="target">
  </div>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

<script>
  $(document).ready(function(){
    $('.detail').on('click', function(){
      var docname = $(this).attr('value');
      console.log('onclick is working.');
      datailDoc(docname); //Your function
    });
  });

  function datailDoc(docname){
    console.log("var docname "+docname);
    $.ajax({
      url: '/doc',
      timeout:30000,
      method: 'POST',
      data: {'doc': docname},
      success: function(docs) {
        var html;
        html += '<div class="table-responsive">';
        html += '<table class="table table-striped">';
        html += '<thead>';
        html += '<tr>';
        html += '<th>#</th>';
        html += '<th>Document</th>';
        html += '<th>Similarity</th>';
        html += '</tr>';
        html += '</thead>';
        html += '<tbody>';
        for (var i = 0; i< docs.length; i++) {
          html += '<tr>';
          html += '<td>' + i + '</td>';
          html += '<td>' + docs[i][0] + '</td>';
          html += '<td>' + docs[i][1] + '</td>';
          html += '</tr>';
        }
        html += '</tbody>';
        html += '</table>';
        html += '</div>';
        $('#target').html(html);
      },
      error: function(error)
      {
        console.log(error);
      }
    });
  }
</script>

<% include footer %>
